/* Set margin and padding to 0 for the entire page */
html, body {
  margin: 0;
  padding: 0;
}

/* Define styles for the container div */
.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}


/* Define styles for the header */
header {
  background-color: #cdcdcd;
  color: #000000;
  padding: 10px;
}
 
.sidebar{
  background-color: #000000;
  margin-right: 20px;
  color: #ffffff;
  font-weight:lighter;
}

/* Define styles for the navigation links */
nav {
  background-color: #6161ff;
  padding: 10px;
}

nav a {
  background-color: #6161ff;
  display: inline-block;
  margin-right: 20px;
  color: #0c0b0b;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  background-color: #6161ff;
  margin-right: 20px;
  color: #0c0b0b;
  font-weight: bold;
}

body{
    background-color: #cdcdcd;
}

footer{
  background-color: #000000;
  margin-right: 20px;
  color: #ffffff;
  font-weight:lighter;
}

.sidebar {
  width: 200px;
  background-color: #f1f1f1;
  height: 100%;
  position: fixed;
  left: 100;
  top: 0;
  overflow-x: hidden;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.sidebar li a:hover {
  background-color: #c38f8f;
}
